*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

button {
    /*Comando para alinahr esse botão no meio exato da página*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*Comando para deixar perfeitamente alinhado no centro da página*/

    padding: 15px 100px;
    font-size: 20px;
    background: transparent;
    border: 2px solid rgb(26, 180, 227);
    color:rgb(26, 180, 227) ;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;/*animação no texto ao passar o mouse*/
}

button:hover {
    box-shadow: 0 0 15px rgb(26, 180, 227),inset 0 0 15px rgb(26, 180, 227) ;
    text-shadow: 0 0 15px rgb(26, 180, 227);/*aplicar o efeito neon tambem no texto*/
}